{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Login here:</p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<br>
<br>
<br>
<p>Signup here:</p>
<form action="/signup" method="POST">
<p>Tunnus:<br>
<input type="text" name="signup_username"></p>
<p>Salasana:<br>
<input type="password" name="signup_password"></p>
<input type="submit" value="Reikistroi">
</form>
{% endif %}

<a href="/index_lentis">ENTER WORKOUT</a>