<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
        <h1>Strongluku</h1>
        <small><i>my training diary</i></small>
  </div>
  <nav>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/index_lentis">Shoulders</a></li>
      <li><a href="/type_back">Back</a></li>
      <li><a href="/type_bodyweight">Body Weight</a></li>
      <li><a href="/outofdb_new">Show all records</a></li>
    </ul>
  </nav>

  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
  <a href="/logout">Kirjaudu ulos</a>
  {% endif %}

    <br> 
    <br> Workout entries for: SHOULDERS
    <br> Save your weightlifting workouts. 
    <br> Enter (and save) separately for each body part.
    <br> Note: Workouts are recorded for the day of entry.
    <br>
    <form method="post" action="/training_results">
        <br>     
        Select exercise type:
        <select id="exe" name="select_exercise" required >
        {% for option in form_exercise %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
        <br>
        <br>
        How many sets did you work out? 
        <input type="text" name="sets_count"> 
        <br>
        <br>
        {% for i in range (0,5) %}
        Set no: {{ i + 1 }}
        Select weight in kilograms
        <select id="weights" name="select_weight{{ i }}" required >
        {% for option in form_weights %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>

        Select number of repititions performed
        <select id="repititions" name="select_reps{{ i }}" required >
        {% for option in form_repititions %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
        <br>

        {% endfor %}
        <br>
        <br>

        <input type="submit" value="Save"/>
        <br>
        <br>
        <br>
    </form>
    <br>
    
    </body>
