<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
        <h1>Strongluku</h1>
        <small><i>my training diary</i></small>
  </div>
  <nav>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/index_lentis">Shoulders</a></li>
      <li><a href="/type_back">Back</a></li>
      <li><a href="/type_bodyweight">Body Weight</a></li>
      <li><a href="/outofdb_new">Show all records</a></li>
    </ul>
  </nav>

  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
  <a href="/logout">Kirjaudu ulos</a>
  {% else %} 
  
  <form action="/login" method="POST">
    Sign In here:
    <br>
    Tunnus:
    <input type="text" name="username">
    <br>
    Salasana:
    <input type="password" name="password">
    <br>
    <input type="submit" value="Kirjaudu">
    <br>
  </form>
  
  <form action="/signup" method="POST"> 
    NEW USERS! Sign Up here:
    <br>
    Tunnus:
    <input type="text" name="signup_username">
    <br>
    Salasana:
    <input type="password" name="signup_password">
    <br>
    <input type="submit" value="Reikistroi">
    <br>
  </form>
  {% endif %}

  <br>
  <br>
  <br>
  <h3>Guidelines:</h3>
          1. Register your account with a log-in and password in "Sign Up"
    <br>  TIP: Use a simple username and password that YOU can remember 
    <br>   (there is no automatic password recovery)
    <br>  2. Log in with your credentials in "Sign In"
    <br>  3. After a training session,
    <br>     enter your workouts by selecting either "Shoulders" or "Back" or "Body Weight" 
    <br>     (currently only these section work, but more coming soon!)
    <br>  4. You can read saved records by pressing "Show All Records"
    <br>  5. Yet to come: more workout sections (running, beach trainings, etc),
    <br>      visual dispay of records, and more.. 
    <br> 
    <br>
    <br>  
  
  <h3>About the site:</h3>       
          This site is coded in Python 3.7 and uses Python library Flask and database PostgreSQL.
    <br>  Welcome to contribute at https://github.com/adikele/gym-workouts-app. 
    <br> 
    <br>  Site is named after Kelekar family's cat, Luku, who could do 100 pullups in a day.

</body>