<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="header">
        <h1>Strongluku</h1>
        <small><i>my training diary</i></small>
  </div>
  <nav>
    <ul>
      <li><a href="/">Main Page</a></li>
      <li><a href="/index_lentis">Shoulders</a></li>
      <li><a href="/type_back">Back</a></li>
      <li><a href="/type_bodyweight_p">Body Weight</a></li>
      <li><a href="/outofdb_new">Show all records</a></li>
      <li><a href="/results_plotdata">Show pullup plots</a></li>
    </ul>
  </nav>

  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
  <a href="/logout">Kirjaudu ulos</a>
  {% endif %}

    <br> 
    <br> Workout entries for: BODY WEIGHT
    <br> Save your body weight workouts. 
    <br> Enter (and save) separately for each exercise.
    <br> 
    <br>
    <form method="post" action="/results_bodyweight">
        <br>
        Select exercise type:
        <select id="exe" name="select_exercise" required >
        {% for option in form_exercise %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
        <br>
        <br>Exercise Day:  <input type="date" id="day" name="select_day">
        <br>
        <br>
        How many sets did you work out? 
        <input type="text" name="sets_count"> 
        <br> Choose a number between 1 and 5
        <br>
        <br>
        {% for i in range (0,5) %}
        Set no {{ i + 1 }}:
        Select number of repititions performed
        <select id="repititions" name="select_reps{{ i }}" required >
        {% for option in form_repititions %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
        <br>

        {% endfor %}
        <br>
        <br>

        <input type="submit" value="Save"/>
        <br>
        <br>
        <br>
    </form>

    <form method="post" action="/results_plank">
        <br>
        Planks HERE!
        <br>
        <br>Exercise Day:  <input type="date" id="day" name="select_day">
        <br>
        <br>
        How long did you hold your plank? 
        <select id="planktime" name="select_planktime" required> 
        <br> Select time from the closest given options:
        {% for option in form_planktime %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>    
        <br>
        <input type="submit" value="Save"/>
        <br>
        <br>
        <br>
    </form>


    <br>
    
    </body>
